* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
}

body {
    background-color: #c0c0c0;
    font-family: "VT323", monospace;
    font-size: 20px;
    color: #000;
}


